/* green #03EF62  fonts #DEB617 hover: #213147*/

#navbar {
    background-color: #05192D;
    color: white;
    font-size: 120%;
}

body {
    background-color: #05192D;
}

h4 {
    font-size: 150%;
}

h5 {
    font-size: 120%;
}

.menubar:hover {
    background-color: #213147;
}

.signin:hover {
    border-color: #03EF62 ;
    background-color: #213147;
}

.getstarted:hover {
    background-color: #03EF62;
}

.sendmeupdates {
    background-color: #03EF62;
    color: #05192D;
}
.sendmeupdates:hover {
    background-color: #65FF8F;
}